<h2>会員一覧</h2>

<table class='table table-responsive'>
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>投稿聖地数</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", :class => "img-rounded") %></td>
        <td><%= user.name%>さん</td>
        <td><%= user.meccas.count %>件</td>
        <td><%= link_to "詳細", user, class: "btn-sm btn-warning user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>