<div id="swiper-container">
    <div class="main-visual-content">
        <h1 class="main-visual-name">
            SeichiSearch
        </h1>
        <p class="main-visual-text">
            聖地を検索（サーチ）したい！<br>
            おすすめの聖地を教えたい！<br>
            是非是非、こちらのサイトをお試しください！！
        </p>
    </div>
    <div id="theTarget">
        <div style="background-image: url(/assets/7650973264_IMG_3360.JPG)"></div>
        <div style="background-image: url(/assets/p1102.jpg)"></div>
        <div style="background-image: url(/assets/p1112.jpg)"></div>
        <div style="background-image: url(/assets/p3392.jpg)"></div>
        <div style="background-image: url(/assets/p5145.jpg)"></div>
        <div style="background-image: url(/assets/p820.jpg)"></div>
        <div style="background-image: url(/assets/IMG_8058.JPG)"></div>
    </div>
</div>

