<div class="main-visual">
    <div class="main-visual-content">
        <h1 class="main-visual-name">
            SeichiSearch
        </h1>
        <p class="main-visual-text">
            聖地を検索（サーチ）したい！<br>
            おすすめの聖地を教えたい！<br>
            是非是非、こちらのサイトをお試しください！！
        </p>
    </div>
</div>